li {
    list-style: none;
}

.chat-app {
    display: flex;
    flex-direction: column;
}

.chat-app__window {
    width: 25vw;
    height: 50vh;
    background-color: #eeeeee;

    overflow-y: scroll;
}

.chat-app__user-interaction {
    display: flex;
}